html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #deebce;
    background-size: cover;
}
figure {
    display: inline-block;
    position: relative;
    margin: 0;
}

.tree_img {
    margin-top: 15px;
    width: 800px;
    height: 600px;
    z-index: -1;
}

.leaf_test {
    position: absolute;
    top: 15%;
    left: 30%;
    height: 35%;
    width: 40%;
}

.leaf_1 {
    transform-origin: top;
    background-image: url("/images/apple.png");
}

.leaf_2 {
    transform-origin: top;
    background-image: url("/images/apple2.png");
}

.leaf_group {
    position: absolute;
    display: inline-block;
    width: 30%;
    height: 30%;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: growUp;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes growUp {
    0% {
        width: 0%;
        height: 0%;
    }
    25% {
        width: 5%;
        height: 5%;
    }
    50% {
        width: 12%;
        height: 12%;
    }
    70% {
        width: 23%;
        height: 23%;
    }
    100% {
        width: 30%;
        height: 30%;
    }
}

.leaf_group:hover {
    cursor: pointer;
    width: 35%;
    height: 35%;
}
.name_on_leaf {
    color: #deebce;
    z-index: 999;
    /* reduce font size */
    font-size: 0.8em;
    text-overflow: ellipsis;
    /* overflow: hidden; */
    margin: auto;
    width: 50%;
    height: 20%;

}
.story_on_leaf {
    display: none;
}

.modal-content img {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    /* opacity: 0.4; */
}

#story_content {
    width: 60%;
    height: 150px;
}

#modal_content {
    width: 100%;
    word-wrap: break-word;
}
#send_story{
    background-color: #4f8b05 ;
    border: none;
}

.nav-link{
    color: #4f8b05;
}